<div class="container">
  <footer class="">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The complete Ror Dev Course</a> by <a href="#">Iulia Gatea</a>
    </small>
    <nav>
      <ul>
         <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>